/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2022, 11:54:50 PM
    Author     : E M T
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first page */

#pizzaimg{
    background-size: cover;
    height: 625px;
    width: 1348px;
    filter: brightness(50%);
}

.div1 {
    position:relative;
    font-family: 'Amatic SC';
    transform: translate(20% , -150%);
    position: absolute;
}

.heading1 {
    transform: translate(100%, 90%);
    font-size: 100px;
    color: blanchedalmond;

}

.heading2{
    transform: translate(83%, 82%);
    font-size: 100px;
    color: blanchedalmond;
}

.see-menu{
    transform: translate(100%, 150%);
    border: none;
    background-color: black;
    padding: 20px 30px;
    font-size: 30px;
    margin-left: 250px;
    color: blanchedalmond;
    font-family: 'Amatic SC';
}

.see-menu:hover{
    background-color: rgb(197, 195, 193);
    color: black;
    cursor: pointer;
}

.button-open{
    transform: translate(-110%, 226%);
    border: none;
    background-color: black;
    padding: 20px 30px;
    font-size: 30px;
    margin-left: 250px;
    color: blanchedalmond;
    font-family: 'Amatic SC';
}

.button-open:hover{
    background-color: rgb(197, 195, 193);
    color: black;
    cursor: pointer;
}

/* end first page */

