/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2022, 11:54:50 PM
    Author     : E M T
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first page */

.pizza{
    background-image: url(images/pizza.jpg);
    background-repeat: no-repeat;
    height: 650px;
    opacity: 0.9;
    filter: brightness(50%);
}

.heading1{
    margin-left: 300px;
    transform: translateY(-104%);
    color: white;  
    font-size: 96px;        
}

.heading2 {
    color: white;  
    font-size: 96px;
    margin-left: 200px;
    transform: translateY(-110%);
}

.menu1 {
    background-color: black;
    padding: 20px 30px;
    font-size: 30px;
    margin-left: 250px;
    transform: translateY(-180%);
}

.menu1:hover{
    background-color: rgb(197, 195, 193);
    color: black;
    cursor: pointer;
}

.opentime{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 26px;
    transform: translate(-380%, -20%);
}

/* end first page */
